@tailwind base;
@tailwind components;
@tailwind utilities;

/* ROOT */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* DARK MODE */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* BASE */
body {
  background: white;
  color: black;
}

/* UTILITIES */
@layer utilities {
  .gradient {
    @apply bg-gradient-to-br from-blue-600 to-purple-600;
  }

  .gradient-title {
    @apply bg-gradient-to-br from-blue-600 to-purple-600
           font-extrabold tracking-tighter pr-2 pb-2
           text-transparent bg-clip-text;
  }
}

/* HERO */
.hero-image-wrapper {
  perspective: 1000px;
}

.hero-image {
  transform: rotateX(15deg) scale(1);
  transition: transform 0.5s ease-out;
}

.hero-image.scrolled {
  transform: rotate(0deg) scale(1) translate(40px);
}

[data-radix-popper-content-wrapper] {
  z-index: 99999 !important;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Add this class */
.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 3s ease infinite;
}